@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
}

section {
	padding: 0 5rem;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.main {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	font-size: 0.8rem;
	align-items: left;
	justify-content: flex-end;
	padding: 1rem 0;
	width: 100%;
	z-index: 20;
}

.intro {
	background-image: url(images/background.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.nav-logo {
	margin-left: 1rem;
	margin-right: auto;
	width: 2rem;
}

ul{
	list-style-type: none;
}
ul li{
	display:  inline-block;
}
ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	margin-left: 1rem;
	border: 1px solid transparent;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
	box-shadow: 0 0 10px white;
}
ul li.active a{
	background-color: #fff;
	color: #000;
}

/* Intro Section */
.intro {
	width: 100%;
	position: relative;
}

.home {
	color: white;
	position: absolute;
	top: 40%;
}

.home h1 {
	font-size: 4rem;
}

.home h4 {
	background-color: white;
	color: black;
	width: fit-content;
	padding: 0.5rem 1rem;
}

/* About Section */
.about {
	padding: 2rem 5rem;
}

.about h1{
	text-align: center;
}

.profile {
	border-radius: 100%;
	width: 20rem;
}

.about-grid {
	display: grid;
	margin: 3rem 0;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 2rem;
	padding: 2rem;
}

.about-card {
	position: relative;
	border: 1px solid black;
	border-radius: 4px;
	cursor: pointer;
	padding: 2rem 1rem 1rem;
	transition: all ease-in-out 0.5s;
}

.about-card a{
	color: green;
}

.about-card:hover {
	background-color: black;
	color: white;
	transform: scale(1.02);
}

.card-symbol {
	align-items: center;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	border-radius: 100%;
	position: absolute;
	width: 4rem;
	height: 4rem;
	border-radius: 100%;
	top: -2rem;
	left: 40%;
}

/* Form Section */

.form {
	background-color: #383838;
	color: white;
	padding: 2rem 0;
}

.form form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	max-width: 50%;
	margin: auto;
}

.form input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid white;
}

.form textarea {
	background-color: transparent;
	border: 1px solid white;
	border-radius: 4px;
}

.form textarea, .form input {
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	padding: 0.5rem;
	color: white;
}

.form textarea, .form input:focus {
	outline: none;
}

.send {
	background-color: transparent;
	border: 1px solid white;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	width: fit-content;
	margin: auto;
}

.send:hover {
	background-color: white;
	color: #15133C;
}

/* Footer Section */
.footer {
	display: flex;
	justify-content: space-around;
	padding: 3rem 0;
}
.footer a {
	color: black;
}
